.gh_circle {
	position: fixed;
  	bottom: 10px;
  	right: 10px;
  	left: auto;
 	  top: auto;
  	width: 49px;
  	height: 49px;
  	box-sizing: content-box;
    text-align: center;
    vertical-align: middle;
    z-index: 999999999991;
    -webkit-border-radius: 600px;
    -moz-border-radius: 600px;
    border-radius: 600px;
    border: none;
    font-family: Courier New;
    color: #ffffff;
    font-size: 12px;
    background: #adadad;
    text-decoration: none;
}

.gh_circle:hover {
    background: #3cb0fd;
    text-decoration: none;
}

.gh_modal_dialog {
  
}