<div id="gh_modal_wrapper" class="gh_modal_wrapper">
<div id="gh_modal" class="gh_modal gh_modal_dialog">
    <h2 class="gh_title" style="margin-top:15px;">添加干货</h2>
    <div class="gh_input_wrapper" style="text-align:center;margin-top:-1em;margin-bottom:0.5em">
      <span id="gh_exist">
        
      </span>
  </div>
    <div class="gh_input_wrapper">
      <label>添加描述</label>
      <textarea id="gh_description" class="form-control" rows="3" style="height:auto;"></textarea>
    </div>

    <div class="gh_input_wrapper">
      <label>发现人</label>
      <input id="gh_who" type="text" class="form-control" />
    </div>

    <div class="gh_input_wrapper">
      <label>选择分类</label>
      <select id="gh_type" class="form-control">
        <option value="Android">Android</option>
        <option value="iOS">iOS</option>
        <option value="前端">前端</option>
        <option value="瞎推荐">瞎推荐</option>
        <option value="休息视频">休息休息一下</option>
        <option value="拓展资源">拓展资源</option>
        <option value="福利">福利</option>
        <option value="App">App</option>
    </select>
    </div>

    <div class="gh_input_wrapper" style="text-align:right">
        <span id="gh_close">关闭</span>
        <button id="gh_submit" class="gh_button submit "> 提交</button>
    </div>

    <div class="gh_input_wrapper gh_check_link">
      <a target="_blank" id="gh_link" href="http://baidu.com">http://baidu.com</a>
    </div>
  </div>
</div>
